@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 300;
  src: url('../fonts/JetBrainsMono-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 200;
  src: url('../fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 400;
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  src: url('../fonts/JetBrainsMono-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: bold;
  src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 600;
  src: url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 800;
  src: url('../fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.col {
  max-width: 600px;
  width: 100%;
  padding: 0px 20px;
}

.title {
  text-align: left;
  display: block;
  width: 100%;
  font-family: 'JetBrains Mono' !important;
  font-weight: 700;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -20px;
}

.constructor-element {
  margin-bottom: 16px;
}

.customScroll::-webkit-scrollbar {
  width: 8px;
}

.customScroll::-webkit-scrollbar-track {
  background: var(--background-element);
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
  border-radius: 20px;
}

.flex {
  display: flex;
}
.error-App {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.input__container {
  width: 100% !important;
}
.input {
  width: 100% !important;
}
.color_link {
  color: var(--colors-interface-accent);
  margin-left: 8px;
}
.lk-wrapper {
  display: flex;
  max-width: 860px;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.profile-wrapper {
  margin-top: 120px;
}
.lk-wrapper.profile-orders {
  max-width: 1224px;
  justify-content: flex-start;
  margin-top: 40px;
}
.lk-wrapper.profile-orders .sidebarWrap {
  margin-top: 80px;
}
form {
  width: 100%;
}

.profile-orders .profileOrders {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-height: 916px;
  overflow: hidden;
  overflow-y: scroll;
}
.profile-orders .profileOrders .feedWrap {
  width: 100%;
}
