.modal {
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  /* z-index: 1; */
  /* position: relative; */
  z-index: 9999;
  position: fixed;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

.modalContentIngredient {
  min-width: 640px;
  max-width: 640px;
  margin: 0 auto;
}
.modalContentMargin {
  margin-top: 180px;
  margin-bottom: 150px;
}
.modalCloseButton {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 40px;
  cursor: pointer;
}
.modalContentWrap {
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}

.modalContentTitle {
  text-align: center;
}
.modalContentItems {
  display: flex;
  justify-content: center;
}
.modalContentItem {
  color: #8585ad;
}
.modalContentItem span {
  margin-bottom: 8px;
  display: block;
}

.modalContentItem .value {
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  font-family: 'Iceland';
  display: block;
  text-align: center;
}

.modalContentBottom {
  display: block;
  margin-top: 25px;
  text-align: center;
}

.modalFeed {
  max-width: 640px;
  width: 100%;
}
.modalFeed .modalHeader {
  text-align: center;
}
.status {
}
.done {
  color: #00cccc;
}
.ingredientListItem {
  display: flex;
  align-items: center;
}

.feedItemIngredient {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  max-width: 64px;
  min-width: 64px;
  height: 64px;
  width: 100%;
}

.feedItemIngredient:before {
  content: '';
  position: absolute;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  width: 100%;
  height: 100%;
}
.feedItemIngredient img {
  background-color: black;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
.ingredientListItemCost {
  display: flex;
}
.ingredientListItemCost p {
  margin-right: 9px;
}
.ingredients_list {
  max-height: 312px;
  overflow: hidden;
  overflow-y: auto;
}
.ingredients_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ingredient_cost {
  display: flex;
  align-items: center;
}
.ingredient_cost p {
  margin-right: 9px;
}
