.sidebar {
  max-width: 320px;
  width: 100%;
}
.nav {
}
.nav_list {
  list-style: none;
  padding: 0;
}
.nav_item {
  padding: 10px 0px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
