.headerMenuItem {
  display: flex;
  align-items: center;
  z-index: 2;
}
.headerMenuItem span {
  margin-left: 8px;
  cursor: pointer;
  display: inline-block;
}
.headerMenuItem:hover svg {
  fill: #8585ad;
}

.headerMenuItem span:hover {
  color: #8585ad;
}
.headerMenuItem:first-child {
  margin-right: 40px;
}
