.burgerItem {
  max-width: 272px;
  position: relative;
  cursor: pointer;
}

.burderItemPrice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.burderItemPrice span {
  margin-right: 9px;
}
